<div class="col-xs-12 col-md-12 col-lg-12 main-box">
    <form action="" method="post">
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">选择角色<pub>*</pub> :</div>
            <div class="col-lg-10 col-md-9 col-xs-7 filed-from padding-none">
                <?php foreach($groups as $v):
                    $checked = in_array($v['id'],$groupids) ? 'checked' : '' ;
                ?>
                <span class="block"><label><input type="checkbox" name="group[]" <?php echo $checked;?> value="<?php echo $v['id']?>">&nbsp;&nbsp;<?php echo $v['title']?></label></span>
                <?php endforeach;?>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 lists text-right">
            <input type="submit" name="dosubmit" value="确认修改" class="btn btn-success radius-none">
        </div>
    </form>
</div>