<div class="col-xs-12 col-md-12 col-lg-12 main-box">
    <form action="" method="post">
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">用户名<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="userinfo[username]" disabled="disabled" value="<?php echo $info['username']?>" type="text" autocomplete="off" class="form-control radius-none" placeholder="请输入管理员用户名" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">管理密码<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="userinfo[password]" onload="javascript:this.value='';void(0);" autocomplete="off" class="form-control radius-none">
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">中文名字<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="userinfo[truename]" type="text" autocomplete="off" value="<?php echo $info['truename']?>" class="form-control radius-none" placeholder="请输入中文名称" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">手机号码<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="userinfo[mobile]" type="number" autocomplete="off" value="<?php echo $info['mobile']?>" class="form-control radius-none" placeholder="请输入手机号码" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">电子邮箱<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="userinfo[email]" type="email" autocomplete="off" value="<?php echo $info['email']?>" class="form-control radius-none" placeholder="请输入管理电子邮箱" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">英文名字 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="userinfo[nicname]" type="text" autocomplete="off" value="<?php echo $info['nicname']?>" class="form-control radius-none" placeholder="请输入英文名称" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">备注描述 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <textarea name="userinfo[remark]" class="form-control radius-none"><?php echo $info['remark']?></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 lists text-right">
            <input type="submit" name="dosubmit" value="确认修改" class="btn btn-success radius-none">
        </div>
    </form>
</div>