<div class="col-xs-12 col-md-12 col-lg-12 main-box">
    <form action="" method="post">
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">中文名称<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="groupinfo[title]" type="text" autocomplete="off" class="form-control radius-none" placeholder="请输入用户组中文名称" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">英文名称 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="groupinfo[enname]" type="text" autocomplete="off" class="form-control radius-none">
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">规则授权<pub>*</pub> :</div>
            <style>
                .filed-from>ul>li{
                    float: left;
                }
            </style>
            <div class="col-lg-10 col-md-9 col-xs-7 filed-from padding-none">
                <?php echo $ruleTree?>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">备注描述 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <textarea name="groupinfo[description]" class="form-control radius-none"></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 lists text-right">
            <input type="submit" name="dosubmit" value="保存" class="btn btn-success radius-none">
            <input type="reset"  value="重置" class="btn btn-info radius-none">
        </div>
    </form>
</div>
<script>
    $(function(){
        $('input[type="checkbox"]').click(function(){
            var _this = $(this);
            var $parent = $(this).parent().parent();
            var thisSlected = _this[0].checked;
            $('input[type="checkbox"]',$parent).each(function(){
               $(this)[0].checked = thisSlected;
            });
            var isAll = false;
            $parent.siblings().children().children('input').each(function(){
                if($(this)[0].checked){
                    isAll = true;
                }
            });
            //console.log($parent.parent().prev().length);
            if($parent.parent().prev().length){
                if(thisSlected || isAll){
                    $parent.parent().prev().children()[0].checked = true;
                }else{
                    $parent.parent().prev().children()[0].checked = false;
                }
            }
        });
    });
</script>