<div class="col-xs-12 col-md-12 col-lg-12 main-box">
    <form action="" method="post">
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">选择父级 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <select class="form-control radius-none" disabled name="ruleinfo[pid]">
                    <option value="0">无父级</option>
                    <?php echo $rules;?>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">规则名称<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="ruleinfo[title]" value="<?php echo $info['title']?>" type="text" autocomplete="off" class="form-control radius-none" placeholder="请输入规则名称(仅支持中文和英文)" >
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">规则标识<pub>*</pub> :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="ruleinfo[name]" value="<?php echo $info['name']?>" type="text" autocomplete="off" class="form-control radius-none" placeholder="规则: 模块名/控制器名/方法名(该字段唯一)">
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">是否启用附加规则:</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <div class="checkbox">
                    <label>
                        <?php
                            $checked = $info['type']? 'checked="checked"' : '' ;
                        ?>
                        <input name="ruleinfo[type]" <?php echo $checked?> value="1" type="checkbox">  启用之后附加规则才能生效
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">是否是菜单:</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <div class="checkbox">
                    <label>
                        <?php
                            $checked = $info['ismenu']? 'checked="checked"' : '' ;
                        ?>
                        <input <?php echo $checked?> name="ruleinfo[ismenu]" value="1" type="checkbox">
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">附加规则 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="ruleinfo[condition]" value="<?php echo $info['condition']?>" type="text" autocomplete="off" class="form-control radius-none" placeholder="自定义规则">
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">附加规则 :</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <input name="ruleinfo[icon]" value="<?php echo $info['icon']?>" type="text" autocomplete="off" class="form-control radius-none" placeholder="Bootstrap 字体图标">
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 padding-none lists">
            <div class="col-lg-2 col-md-3 col-xs-5 filed-name text-right">状态:</div>
            <div class="col-lg-3 col-md-5 col-xs-7 filed-from padding-none">
                <div class="radio">
                    <?php if($info['status'] == 1): ?>
                        <label class="radio-inline">
                            <input type="radio" checked="checked" name="ruleinfo[status]" value="1"> 正常
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="ruleinfo[status]" value="0"> 禁用
                        </label>
                    <?php else:?>
                        <label class="radio-inline">
                            <input type="radio" name="ruleinfo[status]" value="1"> 正常
                        </label>
                        <label class="radio-inline">
                            <input type="radio" checked="checked" name="ruleinfo[status]" value="0"> 禁用
                        </label>
                    <?php endif;?>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 lists text-right">
            <input type="hidden" name="ruleinfo[pid]" value="<?php echo $info['pid']?>">
            <input type="submit" name="dosubmit" value="保存" class="btn btn-success radius-none">
            <input type="reset"  value="重置" class="btn btn-info radius-none">
        </div>
    </form>
</div>