<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>天空课堂管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="<?php echo C('STATIC_COMMON_PATH');?>plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="<?php echo C('STATIC_COMMON_PATH');?>plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="<?php echo C('STATIC_PATH')?>css/styles.css">
    <script src="<?php echo C('STATIC_COMMON_PATH');?>js/jquery-2.0.0.min.js"></script>
</head>
<body>
<nav class="navbar nav-style navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo U('Index/index');?>">Sky</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <?php foreach($menu as $v):?>
                    <?php if($v['pid'] == 0):
                        $active = $v['id'] == $path[0] ? 'class="active"' : '' ;
                    ?>
                        <li <?php echo $active?>><a href="<?php echo U($v['name'])?>"><?php echo $v['title']?></a></li>
                    <?php endif;?>
                <?php endforeach;?>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Hi,
                        <?php
                            if($this->userinfo['truename']){
                                echo $this->userinfo['truename'];
                            }elseif($this->userinfo['nicname']){
                                echo $this->userinfo['nicname'];
                            }else{
                                echo $this->userinfo['username'];
                            }
                        ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#">锁屏</a></li>-->
                        <li><a href="<?php echo U('Login/index')?>">退出</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)">Last Time: <?php echo date('Y/m/d H:i',$this->userinfo['lasttime'])?></a></li>
                        <li><a href="javascript:void(0)">Last IP: <?php echo $this->userinfo['lastip']?></a></li>
                        <li><a href="javascript:void(0)">Now IP: <?php echo $this->userinfo['nowip']?></a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid body sidebar-full">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-fold">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </div>
            <ul>
                <?php foreach($menu as $v):?>
                    <?php if($v['pid'] == $path[0]):
                        $active = '';
                        if($v['id'] == $path[1]){
                            $active = 'active ';
                            $title = $v['title'];
                        }
                    ?>
                        <li class="<?php echo $active;?>link">
                            <a href="<?php echo U($v['name'])?>">
                                <div class="nav-icon">
                                    <?php if($v['icon']):?>
                                        <span class="<?php echo $v['icon']?>" aria-hidden="true"></span>
                                    <?php else:?>
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                    <?php endif;?>
                                </div>
                                <span class="nav-title"><?php echo $v['title']?></span>
                            </a>
                        </li>
                    <?php endif;?>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
    <div class="main main-sidebar-show">
        <div class="main-sidebar">
            <div class="main-sidebar-body">
                <div class="main-sidebar-body-title"><?php echo $title?></div>
            </div>
            <div class="main-sidebar-list">
                <ul>
                    <?php foreach($menu as $v):?>
                        <?php if($v['pid'] == $path[1]):
                            $active = '';
                            if($v['id'] == $path[2]){
                                $tit = $v['title'];
                                $active  =   'class="active"';

                            }
                        ?>
                            <li <?php echo $active;?>>
                                <a href="<?php echo U($v['name']);?>">
                                    <div class="icon-nav"></div>
                                    <div class="name">
                                        <?php echo $v['title']?>
                                    </div>
                                </a>
                            </li>
                        <?php endif;?>
                    <?php endforeach;?>
                </ul>
            </div>
        </div>
        <div class="action">
            <div class="action-icon"></div>
            <div class="action-bottom">
                <span class="glyphicon glyphicon-hand-left left" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-hand-right right" aria-hidden="true"></span>
            </div>
        </div>
        <div class="main-body">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-md-12 col-lg-12 body-top padding-none">
                    <h5><?php echo $tit?></h5>
                </div>